<% const current_role=userAuth; %>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Urbán Csilla - Admin</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico?">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/menu.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <header>
      <%- include('header', { current_page: 'admin' , current_role: current_role }) %>
    </header>
    <main>
      <h1>Admin oldal</h1>
      <div class="lesson-container">
        <div class="sidebar">
          <ul class="lessons-list">
            <li class="lesson-item">
              <a href="/admin">Lefoglalt időpontok</a>
            </li>
            <li class="lesson-item">
              <a href="/admin/appointments">Időpontok szerkesztése</a>
            </li>
            <li class="lesson-item">
              <a href="/admin/users">Felhasználók</a>
            </li>
            <li class="lesson-item">
              <a href="/profile">Profil</a>
            </li>
          </ul>
        </div>
        <div class="lesson-content">
          <h3>Lefoglalt időpontok</h3>
          <hr />
        <div class="profile-container">
          <table>
            <thead>
              <tr>
                <th>Időpont</th>
                <th>Lefoglaló</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% for (var i=0; i < bookings.length; i++) { %>
                  <% if(bookings[i].booked){ %>
                  <td>
                    <%= bookings[i].booking_date %>
                  </td>
                  <td>
                    <% users.forEach(user => { %>
                      <% if(user.user_id == bookings[i].user_id) { %><%= user.user_username %><% } %>
                    <% }); %>
                  </td>
                  <% }%>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </main>
    <footer>
    </footer>
  </body>

  </html>