<% const current_role = userAuth; %>
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Urbán Csilla - Admin</title>
      <link rel = "icon" type = "image/x-icon" href = "favicon.ico?">
      <link href="/css/style.css" rel="stylesheet" type="text/css">
      <link href="/css/menu.css" rel="stylesheet" type="text/css">
  </head>
  <body>
      <header>
        <%- include('header', { current_page: 'admin', current_role: current_role }) %>
      </header>
      <main>
        <h1>Admin oldal</h1>
        <div class="lesson-container">
          <div class="sidebar">
            <ul class="lessons-list">
              <li class="lesson-item">
                <a href="/lessons">admin1</a>
              </li>
              <li class="lesson-item">
                <a href="/lessons">admin2</a>
              </li>
              <li class="lesson-item">
                <a href="/lessons">admin3</a>
              </li>
            </ul>
          </div>
          <div class="lesson-content">
            <h3>admin funkcio 1</h3>
            <hr/>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              dolor in reprehenderit in voluptate velit esse cillum dolore eu fu
            </p>
            <form action="", style="float: right; margin: 0;">
                <input type="submit" style="float: right; margin: 0;" value="gonb"></button>    
            </form>
               
          </div>
        </div>
    </main>
    <footer>
      <%- include('footer'); %>
   </footer>
   </body>
</html>