<% let current_page = 'article'; %>
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Urbán Csilla - Felmérések</title>
      <link rel = "icon" type = "image/x-icon" href = "favicon.ico?">
      <link href="/css/style.css" rel="stylesheet" type="text/css">
      <link href="/css/menu.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <%- include('header'); %>
    </header>
      <main>
        <h1>Felmérések</h1>
            <div class="article">
              <div class="article-name">Egy újabb teszt </div>
              <div class="article-content">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                 nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                 in voluptate velit esse cillum dolore eu fu</div>
              <div class="article-date">2003.04.05.</div>
            </div>
   </main>
   <footer>
      <%- include('footer'); %>
   </footer>
   </body>
</html>