<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Urbán Csilla - Főoldal</title>
      <link rel = "icon" type = "image/x-icon" href = "favicon.ico?">
      <link href="/css/style.css" rel="stylesheet" type="text/css">
      <link href="/css/menu.css" rel="stylesheet" type="text/css">
  </head>
  <body>
      <header>
        <img src="assets/img/logo.png" alt="Logo" class="navbar-logo user-select-none">
          <nav class="navbar">
           <a href = "/" class = "navbar-item active">Főoldal</a>
           <a href = "/" class = "navbar-item">Felmérések</a>
           <a href = "/" class = "navbar-item">Leckék</a>
           <a href = "/booking" class = "navbar-item">Időpont foglalás</a>
                 <div class = "navbar-item dropdown profileIcon right-side">
                    <img class = "right-side" src = "assets/img/profile_icon.png" alt = "Profil ikon">
                    <div class = "dropdown-content">
                      <% if (!current_role) { %>
                          <a href = "/login" class = "navbar-item">Bejelentkezés</a>
                          <a href = "/register" class = "navbar-item">Regisztráció</a>
                      <% } %>
                      <% if (current_role) { %>
                          <a href = "/logout" class = "navbar-item">Kijelentkezés</a>
                      <% } %>
                    </div>
                 </div>
          </nav>
          <img src="assets/img/plant2.png" alt="Hanging plant" class="plant user-select-none">
      </header>
      <main>
      <h1>Időpont foglalás</h1>
        <div id = "booking">
            
        </div>
    </main>
     
      <% if (current_role === 'ROLE_ADMIN') { %>
      <div></div>
      This content is only shown to administrators.
      </div>
      <% } %>
      <% if (current_role === 'ROLE_USER') { %>
      <div>
         This content is only shown to users.
      </div>
      <% } %>
      <% if (current_role ) { %>
      <div>     
         This content is only shown to authenticated users.</br>
         Logged in user: <span><%= current_email %></span> |
         Roles: <span ><%= current_role %></span>          
      </div>
      <% } %>
   </body>
</html>