<% const current_role = userAuth; %>
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Urbán Csilla - Időpontfoglalás</title>
      <link rel = "icon" type = "image/x-icon" href = "favicon.ico?">
      <link href="/css/style.css" rel="stylesheet" type="text/css">
      <link href="/css/menu.css" rel="stylesheet" type="text/css">
  </head>
  <body>
      <header>
        <img src="assets/img/logo.png" alt="Logo" class="navbar-logo user-select-none">
          <nav class="navbar">
            <a href = "/" class = "navbar-item">Főoldal</a>
            <a href = "/article" class = "navbar-item">Felmérések</a>
            <a href="<%= current_role ? '/lessons' : '/register' %>" class="navbar-item">
            <%= 'Leckék' %>
            </a>
            <a href="<%= current_role ? '/booking' : '/register' %>" class="navbar-item active">
            <%= 'Időpontfoglalás' %>
            </a>
                 <div class = "navbar-item dropdown profileIcon right-side">
                    <img class = "right-side" src = "assets/img/profile_icon.png" alt = "Profil ikon">
                    <div class = "dropdown-content">
                      <% if (!current_role) { %>
                        <a href="/login" class="navbar-item">Bejelentkezés</a>
                        <a href="/register" class="navbar-item">Regisztráció</a>
                      <% } else if (current_role === 'ROLE_USER') { %>
                        <a href="/" class="navbar-item">Profil</a>
                      <% } else if (current_role === 'ROLE_ADMIN') { %>
                        <a href="/admin" class="navbar-item">Admin</a>
                      <% } %>
                      <% if (current_role) { %>
                        <a href="/logout" class="navbar-item">Kijelentkezés</a>
                      <% } %>
                    </div>
                 </div>
          </nav>
          <img src="assets/img/plant2.png" alt="Hanging plant" class="plant user-select-none">
      </header>
      <main>
      <h1>Időpontfoglalás</h1>
      <div id = "booking">

        <form id="booking-form">
          <h3>Elérhető időpontok</h3>
          <label for="appointment_id">Válassz egy időpontot:</label>
          <select id="appointment_id" name="appointment_id" required></select>
          <input type="submit" value="Foglalás"></button>
        </form>
    </div>
    </main>
   </body>
</html>