<div>
  <h1 class="user-select-none">Elérhetőségem</h1>
  <ul>
    <li class="bold user-select-none">E-mail:</li>
    <li>csilla@gmail.com</li>
    <li class="bold ul">Személyesen:</li>
    <li>Időpont foglalással tudsz jelentkezni, várlak szeretettel.</li>
  </ul>
</div>
