<div>
  <h1>Elérhetőségem</h1>
  <ul>
    <li class="bold">E-mail:</li>
    <li>csilla@gmail.com</li>
    <li class="bold">Személyesen:</li>
    <li>Időpont foglalással tudsz jelentkezni, várlak szeretettel.</li>
  </ul>
</div>
