<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Urbán Csilla - Főoldal</title>
      <link rel = "icon" type = "image/x-icon" href = "favicon.ico?">
      <link href="/css/style.css" rel="stylesheet" type="text/css">
      <link href="/css/menu.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
        <img src="assets/img/logo.png" alt="Logo" class="navbar-logo user-select-none">
        <%- include('header', { current_page: 'index' }) %>
        <img src="assets/img/plant2.png" alt="Hanging plant" class="plant user-select-none">
    </header>
      <main>
      <h1>Üdvözlöm!</h1>
      <div id = "introduction">
         <p>
            Urbán Csilla vagyok, kognitív és neuropszichológiai szakirányon szereztem mesterdiplomát. 
            Szakmai tevékenységem középpontjában a statisztikai elemzések és az adatok kezelése áll. 
            Az SPSS program használatában mélyreható ismeretekkel rendelkezem, és ezt a tudást olyan 
            tanulóknak igyekszem átadni, akik különböző adatbázisokban szeretnének adatelemzéseket végezni, 
            legyen szó kutatásokról vagy szakdolgozatokról.
        </p>
        <p>
            Kiemelten fontosnak tartom az alapoktól való megértést. Elmagyarázom, hogyan készítsenek 
            adatbázist, hogyan vegyék fel a kérdőíveket, és hogyan válaszolják meg a kutatási kérdéseket 
            az SPSS program segítségével. Célom, hogy diákjaim ne csak használják a programot, hanem 
            meg is értsék annak működését, így magabiztosan és hatékonyan alkalmazhatják a statisztikai 
            elemzések terén. Ha kérdéseik vannak, bátran forduljanak hozzám, örömmel segítek a tudásuk 
            elmélyítésében és a sikeres adatelemzések elvégzésében.
        </p>
      </div>
      <img id = "graphic" src = "assets/img/graphic.png" alt = "Illusztráció">
    </main>
      <footer>
         <div>
             <h1>Elérhetőségem</h1>
             <ul>
                 <li class = "bold">
                     E-mail:
                 <li>
                     csilla@gmail.com
                 </li>
                 <li class = "bold">
                     Személyesen:
                 <li>
                     Időpont foglalással tudsz jelentkezni, várlak szeretettel.
                 </li>
             </ul>
         </div>
     </footer>
   </body>
</html>