<% const current_role = userAuth; %>
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Urbán Csilla - Leckék</title>
      <link rel = "icon" type = "image/x-icon" href = "favicon.ico?">
      <link href="/css/style.css" rel="stylesheet" type="text/css">
      <link href="/css/menu.css" rel="stylesheet" type="text/css">
  </head>
  <body>
      <header>
        <img src="assets/img/logo.png" alt="Logo" class="navbar-logo user-select-none">
          <nav class="navbar">
            <a href = "/" class = "navbar-item active">Főoldal</a>
            <a href = "/article" class = "navbar-item">Felmérések</a>
            <a href="<%= current_role ? '/lessons' : '/register' %>" class="navbar-item">
            <%= 'Leckék' %>
            </a>
            <a href="<%= current_role ? '/booking' : '/register' %>" class="navbar-item">
            <%= 'Időpontfoglalás' %>
            </a>
                 <div class = "navbar-item dropdown profileIcon right-side">
                    <img class = "right-side" src = "assets/img/profile_icon.png" alt = "Profil ikon">
                    <div class = "dropdown-content">
                      <% if (!current_role) { %>
                          <a href = "/login" class = "navbar-item">Bejelentkezés</a>
                          <a href = "/register" class = "navbar-item">Regisztráció</a>
                      <% } %>
                      <% if (current_role) { %>
                          <a href = "/logout" class = "navbar-item">Kijelentkezés</a>
                      <% } %>
                    </div>
                 </div>
          </nav>
          <img src="assets/img/plant2.png" alt="Hanging plant" class="plant user-select-none">
      </header>
      <main>
      <h1>Leckék</h1>
    <div class="lesson-container">

      <div class="sidebar">
          <ul class="lessons-list">
              <li class="lesson-item">
                  <a href="/lessons/">Lecke 1</a>
              </li>
              <li class="lesson-item">
                  <a href="/lessons/">Lecke 2</a>
              </li>
              <li class="lesson-item">
                  <a href="/lessons/">Lecke 3</a>
              </li>
          </ul>
      </div>

      <div class="lesson-content">
          <h3>Lecke Címe</h3>
          <p>Lecke tartalma: "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
              in voluptate velit esse cillum dolore eu fu</p>

      </div>
  </div>






    </main>
   </body>
</html>