<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Urbán Csilla - Profil</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico?" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/menu.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
   <header>
      <%- include('header', { current_page: 'login', current_role: current_role }) %>
    </header>
   <div>
      <h2>Login</h2>
      <form action="/loginuser" method="post" onsubmit="return validateLoginForm()">
         <label>E-Mail:
         <input type="email" name="email" id="email" required></input>
         </label>
         <label>Password:
         <input type="password" name="password" id="password" required></input>
         </label>  
         <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>
      </form>
   </div>
   <footer>
      <%- include('footer'); %>
   </footer>
</body>
</html>
