<% const current_role = userAuth; %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Urbán Csilla - Profil</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico?" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/menu.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <%- include('header', { current_page: 'profile', current_role: current_role }) %>
    </header>
    <main>
      <div class="profile-container">
        <div class="profile-info">
          <h3>Saját adataim</h3>
          <p><strong>Név:</strong> <%=current_username %></p>
          <p><strong>Email-cím:</strong> <%=current_email %></p>
          <input type="submit" value="Fiók törlése" class="btn-primary red">
        </div>
        <div class="profile-edit">
          <h3>Adatok Változtatása</h3>
          <form action="/profile/edit/data" method="post">
            <label for="username">Név:</label>
            <input type="text" id="username" name="username" placeholder="Név"/>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email-cím"/>
            <input type="submit" value="Mentés" class="btn-primary">
          </form>
          <h3>Jelszó változtatás</h3>
          <form id="password-form" action="/profile/edit/password" method="post">
            <label for="current-password">Jelenlegi jelszó:</label>
            <input type="password" id="current-password" name="current-password" required/>
            <label for="new-password">Új jelszó:</label>
            <input type="password" id="new-password" name="new-password" required/>
            <label for="confirm-password">Jelszó megerősítése:</label>
            <input type="password" id="confirm-password" name="confirm-password" required/>
            <input type="submit" value="Jelszó változtatása" class="btn-primary">
          </form>
        </div>
      </div>
    </main>
    <footer>
        <%- include('footer'); %>
    </footer>
  </body>
</html>
