<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Urbán Csilla - Regisztráció</title>
    <link rel = "icon" type = "image/x-icon" href = "favicon.ico?">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/menu.css" rel="stylesheet" type="text/css">
    <script src="/js/registerFormValidator.js"></script>
</head>
<body>
    <header>
      <img src="assets/img/logo.png" alt="Logo" class="navbar-logo user-select-none">
        <nav class="navbar">
         <a href = "/" class = "navbar-item">Főoldal</a>
         <a href = "/" class = "navbar-item">Felmérések</a>
         <a href="<%= current_role ? '/lessons' : '/register' %>" class="navbar-item">
            <%= 'Leckék' %>
            </a>
            <a href="<%= current_role ? '/booking' : '/register' %>" class="navbar-item">
            <%= 'Időpontfoglalás' %>
            </a>
               <div class = "navbar-item dropdown profileIcon right-side">
                  <img class = "right-side active" src = "assets/img/profile_icon.png" alt = "Profil ikon">
                  <div class = "dropdown-content">
                    <% if (!current_role) { %>
                        <a href = "/login" class = "navbar-item">Bejelentkezés</a>
                        <a href = "/register" class = "navbar-item active">Regisztráció</a>
                    <% } %>
                    <% if (current_role) { %>
                        <a href = "/logout" class = "navbar-item">Kijelentkezés</a>
                    <% } %>
                  </div>
               </div>
        </nav>
        <img src="assets/img/plant2.png" alt="Hanging plant" class="plant user-select-none">
    </header>
    <main>
        <h1>Regisztráció</h1>
        <form action="/registeruser" method="post" onsubmit="return validateRegistrationForm()">
            <label for="username">Név: <b>*</b></label>
            <input type="text" name="username" id="username" required>
            
            <label for="email">E-Mail: <b>*</b></label>
            <input type="email" name="email" id="email" required>
            
            <label for="password">Jelszó: <b>*</b></label>
            <input type="password" name="password" id="password" required>
            
            <label for="role">Jogosultság:</label>
            <select name="role" id="role">
                <option value="ROLE_USER">Felhasználó</option>
                <option value="ROLE_ADMIN">Admin</option>
            </select>
            
            <input type="submit" value="Regisztráció" class="btn-primary">
        </form>
    </main>
    <footer>
        <div>
            <h1>Elérhetőségem</h1>
            <ul>
                <li class = "bold">
                    E-mail:
                <li>
                    csilla@gmail.com
                </li>
                <li class = "bold">
                    Személyesen:
                <li>
                    Időpont foglalással tudsz jelentkezni, várlak szeretettel.
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>
