:root {
  --background: #fffbf7;
  --color: #1b1b1b;
  --green: #a3c39e;
  --cyan: #72ae92;
  --gold: #c8ad78;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #101010;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::placeholder {
  font-family: 'reclinew05-regularregular', sans-serif;
}

@font-face {
  font-family: 'reclinew05-regularregular';
  src: url('../assets/fonts/Recline/recline-regular-webfont.woff2') format('woff2'),
  url('../assets/fonts/Recline/recline-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Balenciaga';
  src: url('../assets/fonts/Balenciaga/Belanciaga.woff2') format('woff2'),
  url('../assets/fonts/Balenciaga/Belanciaga.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

.user-select-none {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

body {
  background: var(--background);
  color: var(--color);
  margin: 0;
  width: 100%;
  transition: 0.5s background ease;
  overflow-x: hidden;
  overflow-y: scroll;
}

main {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

h1 {
  padding-left: 120px;
  color: var(--cyan);
  font-size: 32px;
  font-family: Balenciaga, sans-serif;
  font-weight: bolder;
}

h2 {
  padding-left: 120px;
  color: var(--color);
  font-size: 24px;
  font-family: Balenciaga, sans-serif;
  font-weight: lighter;
}

b {
  color: var(--gold);
}

#Csilla {
  position: relative;
  margin-bottom: 0;
  bottom: 0;
  scale: 110.5%;
  z-index: 1;
}

.btn-primary {
  color: var(--color);
  background-color: #c8ad78;
  border-color: #c8ad78;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--green);
  background-color: var(--background);
}

html {
  font-size: 14px;
  background-color: var(--background);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin: auto;
  height: 300px;
  background-color: var(--color);
  color: white;
  font-size: 16px;
}

footer h1 {
  font-family: Balenciaga, sans-serif;
  color: white;
  padding-left: 200px;
  padding-top: 30px;
}

footer ul {
  font-family: 'reclinew05-regularregular', sans-serif;
  padding-left: 200px;
  text-decoration: none;
  width: 300px;
  padding-bottom: 100px;
}

li {
  font-family: 'reclinew05-regularregular', sans-serif;
  list-style-type: none;
  text-align: left;
  padding-top: 10px;
}

#introduction {
  font-family: 'reclinew05-regularregular', sans-serif;
  font-size: large;
  color: var(--color);
  float: left;
  max-width: 50%;
  margin: 0 auto;
  padding-bottom: 100px;
  padding-left: 100px;
}

form {
  font-family: 'reclinew05-regularregular', sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 200px; 
  margin: auto;
}

label {
  font-family: 'reclinew05-regularregular', sans-serif;
  margin-bottom: 8px; 
}

input[type="text"],
input[type="password"],
input[type="role"],
input[type="submit"] {
  font-family: 'reclinew05-regularregular', sans-serif;
  width: 100%; 
  padding: 5px; 
  height: 30px;
  box-sizing: border-box;
}

input[type="submit"] { 
    background: var(--gold);
    margin: auto;
    margin-top: 50px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    height: 32px;
    width: 150px;
    text-shadow: 1px 1px whitesmoke;
    font-family: reclinew05-regularregular, sans-serif;
    font-size: 16px;
}