:root {
  --background: #fffbf7;
  --color: #1b1b1b;
  --green: #a3c39e;
  --cyan: #72ae92;
  --gold: #c8ad78;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #101010;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::placeholder {
  font-family: "reclinew05-regularregular", sans-serif;
}

@font-face {
  font-family: "reclinew05-regularregular";
  src: url("../assets/fonts/Recline/recline-regular-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/Recline/recline-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Balenciaga";
  src: url("../assets/fonts/Balenciaga/Belanciaga.woff2") format("woff2"),
    url("../assets/fonts/Balenciaga/Belanciaga.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.user-select-none {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

body {
  background: var(--background);
  color: var(--color);
  margin: 0;
  width: 100%;
  transition: 0.5s background ease;
  overflow-x: hidden;
  overflow-y: scroll;
}

main {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  padding-left: 120px;
  color: var(--cyan);
  font-size: 32px;
  font-family: Balenciaga, sans-serif;
  font-weight: bolder;
}

h2 {
  padding-left: 120px;
  color: var(--color);
  font-size: 24px;
  font-family: Balenciaga, sans-serif;
  font-weight: lighter;
}

h3 {
  font-size: 20px;
  color: var(--color);
  font-family: "reclinew05-regularregular", sans-serif;
}

p {
  font-family: "reclinew05-regularregular", sans-serif;
}

b {
  color: var(--gold);
  font-family: "reclinew05-regularregular", sans-serif;
}

#graphic {
  position: relative;
  margin-bottom: 0;
  bottom: 0;
  scale: 120%;
  z-index: 1;
}

.btn-primary {
  color: var(--color);
  background-color: var(--gold);
  border-color: var(--gold);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--green);
  background-color: var(--background);
}

html {
  font-size: 14px;
  background-color: var(--background);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin: auto;
  height: 300px;
  background-color: var(--color);
  color: white;
  font-size: 16px;
}

footer h1 {
  font-family: Balenciaga, sans-serif;
  color: white;
  padding-left: 150px;
  padding-top: 30px;
}

footer ul {
  font-family: "reclinew05-regularregular", sans-serif;
  padding-left: 180px;
  text-decoration: none;
  width: 300px;
  padding-bottom: 100px;
}

li {
  font-family: "reclinew05-regularregular", sans-serif;
  list-style-type: none;
  text-align: left;
  padding-top: 10px;
}

#introduction {
  font-family: "reclinew05-regularregular", sans-serif;
  font-size: large;
  color: var(--color);
  float: left;
  max-width: 50%;
  margin: 0 auto;
  padding-bottom: 100px;
  padding-left: 100px;
}

form {
  font-family: "reclinew05-regularregular", sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: auto;
}

label {
  font-family: "reclinew05-regularregular", sans-serif;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="role"],
input[type="submit"] {
  font-family: "reclinew05-regularregular", sans-serif;
  width: 100%;
  padding: 5px;
  height: 30px;
  box-sizing: border-box;
}

input[type="submit"] {
  background: var(--gold);
  margin: auto;
  margin-top: 50px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  height: 32px;
  width: 150px;
  text-shadow: 1px 1px whitesmoke;
  font-family: reclinew05-regularregular, sans-serif;
  font-size: 16px;
}

input[type="submit"].red {
  background: #c87878;
  border-color: #c87878;
}

/* article */

.article {
  border: 2px solid var(--gold);
  padding: 20px;
  margin: 20px auto;
  max-width: 70%;
  box-sizing: border-box;
}

.article-name {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: reclinew05-regularregular, sans-serif;
  font-size: 18px;
}

.article-content {
  line-height: 1.6;
  margin-bottom: 15px;
  font-family: reclinew05-regularregular, sans-serif;
  font-size: 16px;
}

.article-date {
  color: #777;
  font-size: 1.1em;
  float: right;
  margin-right: 5%;
}

/*lesson*/

.sidebar {
  position: relative;
  display: flex;
  width: 20%;
  background-color: #7ba893;
  padding-left: 0;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  left: 0;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  overflow-y: auto;
  color: #fff;
}

.lessons-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.lessons-list p {
  color: #fff;
  text-align: center;
  font-size: 25px;
  margin-bottom: 15px;
}

.lesson-item {
  margin-left: 0;
}

.lesson-item a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
  font-family: Balenciaga, sans-serif;
  display: block;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.lesson-content {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-left: 30px;
  flex: 1;
}

.lesson-content hr {
  height: 3px;
  background-color: var(--gold);
}

.lesson-container {
  display: flex;
  padding: 20px;
  margin: auto;
  max-width: 85%;
}

/*profil*/

.profile-container {
  justify-content: center;
  text-align: center;
  display: flex;
  height: 100vh;
  max-width: 1200px;
}

.profile-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10%;
  margin-left: 30%;
}

.profile-info h3 {
  font-size: 36px;
}

.profile-edit {
  width: 60%;
  flex-direction: column;
  margin-top: 5%;
}

.profile-edit h3 {
  font-size: 24px;
  text-align: center;
}

@media screen and (max-width: 950px) {
  body {
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }

  h1, h3, p, li {
    padding: 0;
    transform: scale(0.8);
  }

  p {
    margin-top: 0;
  }

  h1 {
    margin-bottom: 0;
  }
}
